/*-- scss:defaults --*/
/*
$body-bg: #2B5597 !default; 
$body-color: #fff !default;
$link-color: #fff !default;
$input-panel-bg: #fff !default;
$code-color: #fcf6bd !default;
$font-family-sans-serif: Montserrat, Arial!default; 
$font-size: 18px!default; */


/*-- scss:defaults --*/

$body-bg: #273954!default;
/*$body-color: #2B5597!default;*/
$body-color: #fff!default;
$link-color: #88398a!default;
$input-panel-bg: #fff !default;
$code-color: #88398a !default;
$font-family-sans-serif: Montserrat, Arial!default;




