/*-- scss:defaults --*/

$body-bg: #273954!default;
$body-color: #fff!default;
$link-color: #E9EBED!default;
$input-panel-bg: #fff !default;
$code-color: #E9EBED !default;
$font-family-sans-serif: Montserrat, Arial!default;




